<nav class="navbar navbar-expand-lg" style="background-color: #004085; color: white;">
  <div class="container-fluid">
    <!-- Nom du site -->
    <a class="navbar-brand fw-bold text-white" routerLink="home">
      🎨 Art Market Place
    </a>

    <!-- Lien utilisateur -->
    <ul class="navbar-nav me-auto">
      <li class="nav-item" *ngIf="userPageLink">
        <a class="nav-link text-white" [routerLink]="userPageLink">
          {{ userPageLabel }}
        </a>
      </li>
    </ul>

    <!-- Bouton déconnexion -->
    <button class="btn btn-outline-light" (click)="logout()">Se déconnecter</button>
  </div>
</nav>
